# --------------------
# Dependencies
# --------------------
node_modules/
.pnp
.pnp.js
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-debug.log*

# --------------------
# Testing
# --------------------
/coverage

# --------------------
# Production / Build
# --------------------
/build
/dist
/.next/
/out/

# --------------------
# Environment files
# --------------------
.env*
!.env.example

# --------------------
# Debug logs
# --------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --------------------
# System files
# --------------------
.DS_Store
*.pem
*.swp
*.swo

# --------------------
# IDE / Editor
# --------------------
.idea/
.vscode/

# --------------------
# Vercel
# --------------------
.vercel

# --------------------
# TypeScript
# --------------------
*.tsbuildinfo
next-env.d.ts
